@font-face {
  font-family: "Articulat CF";
  src: local("Articulat CF"),
    url("../src/assets/fonts/Articulat CF v3.2 OTF/ArticulatCF-Bold.otf")
      format("opentype");
}

@font-face {
  font-family: "Articulat CF";
  src: local("Articulat CF"),
    url("../src/assets/fonts/Articulat CF v3.2 OTF/ArticulatCF-Medium.otf")
      format("opentype");
}

* {
  margin: 0;
  padding: 0;
}
